:root{
    --color-1:#a2ab9f
}

.section{
    margin: 0 auto;
    min-height: 75vh;
    max-width: 1300px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 20px 15px;
}