:root{
    --color-1:#a2ab9f
}

.section{
    margin: 0 auto;
    min-height: 75vh;
    max-width: 1300px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 20px 15px;
}

.asa{
    text-align: center;
    padding: 50px 0;
}
.card-deck{
    padding-bottom: 80px;
    padding-top: 20px;
}

.social-icons{
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 10px;

}


.social-icon{
    fill: black;
    transition: all 0.3s ease-in-out;
}
.social-icon.facebook:hover{
    fill:blue;
}
.social-icon.instagram:hover{
    fill:orange;
}